
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field small-8 small-centered medium-6 medium-centered large-4 large-centered columns">
    <%= f.label :email, class: 'hidden' %><br />
    <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field small-8 small-centered medium-6 medium-centered large-4 large-centered columns">
    <%= f.label :password, class: 'hidden' %> <br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "Enter New Password (#{@minimum_password_length} character minium)" %>
  </div>

  <div class="field small-8 small-centered medium-6 medium-centered large-4 large-centered columns">
    <%= f.label :password_confirmation, class: 'hidden' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Your Password' %>
  </div>

  <div class="field small-8 small-centered medium-6 medium-centered large-4 large-centered columns">
    <%= f.label :current_password, class: 'hidden' %> <br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Enter Curren Password' %>
  </div>

  <div class='row' class='devise-submit'>
    <div class="actions small-3 small-centered medium-2 medium centered large-1 large-centered columns">
      <%= f.submit 'Update Account', class: 'devise-button' %>
      <%= button_to "Cancel Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn', id: 'cancel-acct' %>
    </div>
  </div>
<% end %>
