<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field small-5 small-centered columns">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field small-5 small-centered columns">
    <%= f.label :first_name, "First Name" %> <br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field small-5 small-centered columns">
    <%= f.label :last_name, "Last Name" %> <br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field small-5 small-centered columns">
    <%= f.label :username, "Username" %> <br />
    <%= f.text_field :username %>
  </div>

  <div class="field small-5 small-centered columns">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field small-5 small-centered columns">
    <%= f.label :password_confirmation, "Password Confirmation" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class='row'>
    <div class="actions small-1 small-centered columns">
      <%= f.submit "Sign up" %>
    </div>
  </div>
<% end %>
