<div class='row small-12 small-centered columns'>
  <div class='small-8 small-centered medium-6 medium-centered large-4 large-centered columns'>
    <%= form_tag(search_path, method: 'get', id: 'search-form', class: 'search') do %>
      <%= text_field_tag :search, params[:search], id: 'searchField', placeholder: 'Define yourself...' %>
      <%= submit_tag "Search", name: nil, id: 'searchButton', class: 'btn' %>
    <% end %>
  </div>

  <div class='row'>
    <div>
      <% @goals.each do |goal| %>
        <div class='goal-list small-8 small-centered medium-6 medium-centered large-4 large-centered columns'>
          <h4 class='underline'> <%= link_to goal.title, goal_path(goal), class: 'goal-link' %></h4>
          <h5> <%= goal.details %> </h5>
        </div>
      <% end %>
    </div>
  </div>
</div>
