-<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='row small-12 small-centered columns'>
  <div class='small-8 small-centered medium-6 medium-centered large-4 large-centered columns'>
    <%= form_tag(search_path, method: 'get', id: 'search-form', class: 'search') do %>
      <%= text_field_tag :search, params[:search], id: 'searchField' %>
      <%= submit_tag "Search", name: nil, id: 'searchButton', class: 'btn' %>
    <% end %>
  </div>

  <div class="row search-results">
    <div>
      <% @goals.each do |goal| %>
        <div class="goal-list small-9 small-centered medium-7 medium-centered large-5 large-centered columns">
          <div class='row'>
            <div class='small-10 columns'>
              <div class='title-div'><h4> <%= link_to goal.title,new_goal_path(goal: { title: goal.title, details: goal.details}), class: 'goal-link' %></h4></div>
            </div>
            <div class='small-2 columns'>
              <% if goal.aspirations.count > 0 %>
                <div class='goal-list-count'><h6>+<%=goal.aspirations_count%></h6></div>
              <% end %>
            </div>
          </div>
          <div class='row'>
            <div class='goal-details small-10 small-centered columns'>
              <h5> <%= goal.details %> </h5>
              <% if goal.id.nil? %>
                <p>(Merriam-Webster)</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
