<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='row small-12 small-centered columns'>
  <div class='small-8 centered small-centered columns'>
    <%= form_tag(search_path, method: 'get', id: 'search-form', class: 'search') do %>
      <%= text_field_tag :search, params[:search], id: 'searchField' %>
      <%= submit_tag "Search", name: nil, id: 'searchButton', class: 'btn' %>
    <% end %>
  </div>

  <div class="row search-results">
    <div>
      <% @goals.each do |goal| %>
        <div class="goal-list small-6 small-centered columns">
          <h4 class='underline'><%=link_to goal.title, new_goal_path(goal: { title: goal.title, details: goal.details}) %></h4>
          <h5><%= goal.details %></h5>
          <% if goal.id.nil? %>
            <p>(Merriam-Webster)</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' if @goals.count > 1 %>
