<%= stylesheet_link_tag    'application', media: 'all' %>

<div class='row'>
  <div class='small-9 small-centered columns'>
    <div class='goal-show'>
      <h3> <%= @goal.title %> </h3>
      <p> <%= @goal.details %> </p>
      <div class='row'>
        <div class='small-6 small-centered columns'>
          <%= form_tag aspirations_path( goal: { goal_id: @goal.id }), method: :post do %>
            <%= collection_select(:group, :group_id, current_user.groups, :id, :name, class: 'grp-drpdwn') %>
            <%= submit_tag 'Accept Katayaki', class: 'accept-kat' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
