<!DOCTYPE html>
<html>
  <head>
    <title>Katayaki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.min.css">

  </head>

  <body>
    <nav>
      <ul class="navBar">
        <%- if user_signed_in? -%>
        <li class="navItem"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <li class="navItem"><%= link_to 'Profile', user_path(current_user) %></li>
        <li class="navItem"><%= link_to 'Rate', rate_path %></li>
        <li class="navItem"><%= link_to 'Aspire', new_aspiration_path %></li>
        <li class="navItem"><%= link_to 'Trending', static_pages_path(get_splash: true) %></li>
        <%- else -%>
        <li class="navItem"> <%= link_to 'Sign Up', new_user_registration_path  %></li>
        <li class="navItem"> <%= link_to 'Sign In', new_user_session_path  %></li>
        <li class="navItem"><%= link_to 'Trending', static_pages_path %></li>
        <%- end -%>
      </ul>
    </nav>
    <div class='row'>
      <% flash.each do |key, value| %>
        <p class='small-8 small-centered columns'id="flash"><%=value%></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
